 html,
 body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Overpass', sans-serif;
    background-color: #fff;
}


 
.btn-outline-info {
    font-family: 'Overpass', sans-serif;
    border-radius: 30px;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    border: 2px inset #0d00ff;
    font-size: 1rem;
    
  }
  
 .btn-outline-primary {
    font-family: 'Overpass', sans-serif;
    border-radius: 30px;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    border: 2px inset #00fffb;
    font-size: 1rem;
    
 }

 .btn-outline-primary:active {
    background-color: #0d00ff;
    box-shadow: 0 4px #000;
    transform: translateY(4px) translateX(-2px);
  }
 
  .btn-outline-info:active {
    background-color: #00fffb;
    box-shadow: 0 4px #000;
    transform: translateY(4px) translateX(-2px);
    
  }


  .feature {
    color: #fff;
  }
  
  .feature ul {
    padding-left: 2rem;
    list-style-type: none;
  }
  
  .feature ul li {
    padding-left: 2rem;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .icon {
    color: #fff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .gallery {
    background-color: whitesmoke;
  }
  
  .gallery img {
    border-radius: 5%;
  }
  
  .services {
    color: #fff;
  }
  
  footer {
    color: #fff;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
.gradient {
    background: rgb(0,241,255);
    background: linear-gradient(90deg,
     rgba(0,241,255,1) 0%, rgba(0,196,255,1) 5%, rgba(0,167,255,1) 10%, rgba(0,142,255,1) 15%, rgba(0,119,255,1) 20%, rgba(0,90,255,1) 25%,
     rgba(0,58,255,1) 30%, rgba(0,40,255,1) 35%, rgba(8,20,255,1) 40%, rgba(25,10,255,1) 45%, rgba(43,5,255,1) 50%,
     rgba(61,3,255,1) 55%, rgba(79,2,255,1) 60%, rgba(97,1,255,1) 65%, rgba(115,1,255,1) 70%, rgba(133,1,255,1) 75%,
     rgba(151,1,255,1) 80%, rgba(169,1,255,1) 85%, rgba(187,1,255,1) 90%, rgba(205,1,255,1) 95%, rgba(222,1,255,1) 100%);
 }

 .page-header {
     margin-top: 4rem;
     font-size: 1.25rem;
     color: #fff;
 }